// Normally mainpage styles
.topline
	background-color: $bg-invert
	color: $color-gray
	a
		color: $color-gray
		text-decoration: none
		&:hover
			color: $color-lightgray
.topline__in
	@extend %in
	height: 60px
	line-height: 60px
.topline__symbol
	float: left
	margin: 12px 15px 0 0
	a
		display: block
		+s(symbol)
.topline__menu
	float: left
	ul
		+clr
	li
		display: block
		float: left
		font-size: $size-l
		&.is-active
			a
				color: $color-lightgray
		a
			display: block
			padding: 21px 15px
			line-height: 18px

.header
	@extend %in
.header__in
	margin: 55px 0
.header__logo
	position: relative
	display: inline-block
	vertical-align: middle
	line-height: 1.1
	font-size: $size-h1
	&:before
		position: absolute
		top: 50%
		margin-top: -30px
		left: 0
		content: ""
		+s(flag)
	a
		display: block
		padding-left: 30px
		color: $color-base
		text-decoration: none

.page
.container
	@extend %in

// sticky footer
.out
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -60px
.footer, .push
	height: 60px

.footer
	background-color: $bg-invert
	color: $color-gray
	a
		color: $color-gray
		text-decoration: none
		&:hover
			color: $color-lightgray
.footer__in
	@extend %in
	height: 60px
	line-height: 60px
.footer__copy
	display: inline-block
.footer__search
	float: right
